<div class="grid__item grid-product small--one-half medium-up--one-quarter aos-init aos-animate" data-aos="row-of-4">
    <div class="grid-product__content custom-coll-w-banner" style="position: relative; width: 100%;background-image: url('{{bannerimage}}');background-position: center;background-size: cover;background-repeat: no-repeat;">
      <div style="height: 100%; width: 100%;display: table;background-color: {{banneroverlay}}80;">
        <h3 style="display: table-cell;vertical-align: middle;text-align: center;color: {{textcolor}};">{{block.settings.banner_text}}</h3>
      </div>
    </div>
  </div>